.inbox-page {
    height: 100vh;
    background-color: #333;
}

.spin-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}

.return-home-button{
  margin-bottom: 150px;
  text-decoration: none;
  color: #fff;
}

.return-home-button:hover{
  text-decoration: none;
  color: #459db6;
}

.inbox-content{
   height: 80%;
    width: 90%;
    margin-left: 30px;
    margin-top: 20px;
    padding: 20px;
    background-color: #424242;
    border-radius: 10px;
    -webkit-box-shadow: 12px 12px 9px 2px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 12px 12px 9px 2px rgba(0, 0, 0, 0.41);
    box-shadow: 12px 12px 9px 2px rgba(0, 0, 0, 0.41);
}

.inbox-main{
  height: 90%;
    display: flex;
}

.inbox-content-list{
    height: 90%;
    width: 90%;
    margin-left: 30px; 
    overflow-y: auto;
}

.inbox-content-list::-webkit-scrollbar {
    width: 0;
}



.inbox-content-header{
    margin: 15px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inbox-header-title{
    color: #fff;
}

.inbox-content-input{
    width: 85%;
    height: 25px;
    padding: 10px;
    background-color: #222;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.6);
}



/* ---------CARD-------- */
.inbox-card{
    width: calc(100% - 30px);
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #222;
    color: #fff;
    -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.inbox-card-info{
    width: 260px;
}

.inbox-card-message{
    width: 70%;
    display: flex;
    justify-content: flex-start;
}

.inbox-card-snippet{
    color: #c4c4c4;
}

.inbox-card-time{
    color: #c4c4c4;
}

/* ----------SIDEBAR-------- */

.inbox-sidebar {
    width: 200px;
    /* height: 100%; */
    background-color: #333; 
    border-radius: 15px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .inbox-tab {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
    cursor: pointer;
  }
  
  .inbox-tab:hover {
    background-color: #e0e0e0;
  }

  .nav-item{
    margin-bottom: 15px;
    padding: 5px;
  }

  .nav-btn{
    background: none;
    border: none;
  }

  .nav-btn:hover {
    color: #459db6;
  }

  .active {
    padding: 5px;
    color: #fff;
    background-color: #459db6;
  }
  .active button{
    color: #fff;

  }


  .nav-btn {
    text-decoration: none; 
    color: #fff; 
    font-size: 20px;
    cursor: pointer; 
  }

  .inbox-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* -------MESSAGE-------- */

  .inbox-message-page{
    width: 90%;
    margin-left: 30px;
    height: 700px;
    overflow-y: auto;
    border-radius: 15px;
    background-color: #222;
    color: #fff;
  }

  .inbox-message-page::-webkit-scrollbar {
    width: 0;
}

.message-info{
    display: flex;
    flex-direction: column;
    color: #fff;
}

.message-header{
    padding: 15px ;
    background-color: #333;
}

.msg-close{
    margin-bottom: 15px;
    background:none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

.msg-close:hover{
    color: #459db6;
}

.message-subject{
    margin-bottom: 15px;
    color: #fff;
}